body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

.section-inner,
.header-inner {
  max-width: 1600px;
  margin: 0 auto;
}

@media screen and (max-width: 1700px) {
  .section-inner,
  .header-inner {
    max-width: 90%;
  }
}

header {
  padding: 5px 0;
  background: rgb(227,222,209);
}

.green-bg {
  background: rgb(242,245,215);
}

.logo {
  max-width: 300px;
}

nav {
  display: inline-block;
  width: calc(100% - 305px);
  vertical-align: top;
}

nav ul {
  padding: 0;
  margin: 30px;
}

nav li {
  list-style: none;
  display: inline-block;
  padding: 0 25px;
  font-size: 20px;
  font-weight: bold;
}

nav a {
  color: #333;
}

nav a:hover {
  color: rgb(62,118,42);
}

a {
  text-decoration: none;
  color: rgb(62,118,42);
}

a:hover {
  color: #333;
}

section {
  padding: 10px 0;
}

.cover {
  width: 250px;
}

@media screen and (max-width: 768px) {
  .section-inner,
  .header-inner {
    max-width: 96%;
  }

  nav ul {
    margin: 30px 0;
  }

  nav li {
    padding: 0 20px
  }
}

.highlight {
  color: rgb(33,92,101);
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type=radio] {
  margin: 4px 0 0;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  width: 80px;
}

.input-group-addon:first-child {
border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group-addon {
  padding: 9px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  vertical-align: middle;
}

.input-group .form-control:last-child {
border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group .form-control, .input-group-addon, .input-group-btn {
  display: table-cell;
}

.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

form * {
  box-sizing: border-box;
}

input[type="number"] {
  width: 120px !important;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.input-group-addon:first-child {
  border-right: 0;
  font-weight: bold;
}

@media screen and (max-width: 960px) {
  .logo {
    display: block;
    margin: 10px auto;
  }

  nav {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.spinner {
  margin: 10px auto;
}

td:not(:first-child) {
  text-align:center;
}

th:first-child {
  text-align: left;
}

.App input,
.App select,
.SubmitForm input {
  padding: 5px;
  border: 1px solid rgba(62, 118, 42, 0.68);
  font-size: 15px;
  border-radius: 3px;
}

table input {
  width: calc(100% - 10px);
  margin-right: 10px;
}

.TableCellButton button {
  background: transparent;
  border: 0;
  color: rgb(62,118,42);
  font-size: 16px;
}

.bigLabel {
  display: block;
  margin: 10px 0;
  width: 100%;
  font-weight: bold;
}

.TableHeader th {
  background: rgb(62,118,42);
  color: #fff;
  padding: 10px;
}

.TableHeader th:first-child {
  border-radius: 12px 0 0 0;
}

.TableHeader th:last-child {
  border-radius: 0 12px 0 0;
}

.tr:last-child td:first-child {
  border-radius: 0 0 0 12px;
}

.tr:last-child td:last-child {
  border-radius: 0 0 12px 0;
}

.Directory {
  line-height: 2;
  width: 100%;
  table-layout: fixed;
  overflow: hidden;
  background: transparent;
  border-radius: 12px;
}

.Directory tr:nth-child(2n+2) td {
  background: rgb(242,245,215);
}

.TableCell {
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.TableHeader th:first-child,
.TableCell:first-child {
  padding-left: 20px;
}

td.TableCell:nth-child(2) {
  white-space: pre-wrap;
  line-height: 1;
}

.TableCellButton i,
.TableCell i {
  font-size: 24px;
}

.TableCellButton .submitButton,
.submitButton {
  border-radius: 4px;
  padding: 7px 10px;
  background: rgb(62,118,42);
  color: #fff;
}

.TableCellButton .submitButton:hover,
.submitButton:hover {
  background: #333;
}

button {
  cursor: pointer;
}

.Directory tr td.addNewLabel {
  background: #fff;
  font-weight: bold;
  padding: 5px 5px 5px 20px;
  text-decoration: underline;
}

.tableScroll {
  max-height: 500px;
  overflow: auto;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  margin-top: 15px;
  border-radius: 12px;
}

.tableScroll::-webkit-scrollbar {
  width: 1em;
}

.tableScroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}

.tableScroll::-webkit-scrollbar-thumb {
  background-color: rgb(62,118,42);
}

.Pagination {
  text-align: center;
}

.paginationButton {
  background: none;
  border: 1px solid rgb(62,118,42);
  border-radius: 3px;
  font-size: 18px;
  margin: 10px 5px;
}

.paginationButton:hover,
.paginationButton.active {
  background: rgb(62,118,42);
  color: #fff;
}

.Directory tr.TableRowEdit td {
  background: #fff;
}

.SubmitForm label {
  width: 100%;
  margin: 12px 0;
}

.SubmitForm {
  text-align: center;
}

.submitButtonContainer {
  padding: 12px 0;
}

.submitButtonContainer .submitButton {
  font-size: 16px;
}

.modalText {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media screen and (max-width: 1700px) {
  .TableHeader {
    font-size: 13px;
  }
}

.mobileLabel {
  width: 100%;
}

.mobileLabel-inner {
  display: none;
}

@media screen and (max-width: 1300px) {
  table,
  tr,
  tbody,
  td {
    display: block;
    text-align: center;
    line-height: 1;
  }

  .TableHeader {
    display: none;
  }

  .mobileLabel {
    width: 100%;
    display: inline-block;
  }
  
  .mobileLabel-inner {
    display: inline-block;
    width: 100px;
  }

  .mobileLabel-inner ~ input {
    width: calc(100% - 115px);
    margin-right: 0;
  }
  
  .TableCell:first-child {
    padding-left: 5px;
  }
}

.note {
  margin-top: 10px;
}